/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {
	.container_socsety{
  	top: 260px;
  	left: 20px;
  }
}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	.title_site{
		font-size: 40px;
	}
}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	.container_header{
		flex-direction: column;
	}
  .title_site{
		font-size: 25px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.container_socsety{
  	top: 5px;
  	left: 50%;
  	transform: translateX(-50%);
  }
  .container-main_content{
  	padding: 0;
  	font-size: 30px;
  	text-align: center;
  }
  .container-main_content p{
  	font-size: 30px;
  	
  }
}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
}
