/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {
	.container_socsety{
  	top: 260px;
  	left: 20px;
  }
}

/* sm <= Medium (md) */
@media (max-width : 768px) {
	.header .title_site{
		font-size: 40px;
	}
}

/* xs <= Small (sm) */
@media (max-width : 576px) {
  .metodichka_content{
    font-size: 25px;
  }
  .container{
    max-width: 95vw;
  }
  .header{
    width: 95vw;
  }
	.container_header{
		flex-direction: column;

	}
  .menu{
    text-align: center;
  }
  .title_block{
    max-width: 100%;
  }
	.container_socsety{
  	top: 5px;
  	left: 50%;
  	transform: translateX(-50%);
  }
  .container-main_content{
  	padding: 10px;
  	font-size: 30px;
  }
  .container-main_content p{
  	font-size: 30px;
  	
  }
  .sertificat{
  	width: 200px;
  }
  .header .title_site{
	  font-size: 40px;
  }
  .form_container{
    max-width: 90%;
  }
  
        /*/////// contacts.css //////*/
  p.info{
    font-size: 20px;
  }
  .form_container{
    min-width: 200px;
    margin: 0 auto;
  }
  .form_contacts{
    padding: 5px;
  }
  .form_contacts input{
    width: 250px;
    height: 30px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 16px;
  }
  .form_contacts input[type="submit"]{
    width: 150px;
    height: 20px;
    padding: 0;
    margin-top: 5px;
  }
  textarea{
    padding-left: 5px;
    font-size: 16px;
    width: 70%;
    min-width: 200px;
    height: 100px;
  }
}

@media (max-width : 350px){
  .container{
    /*padding: 10px;*/
    text-align: center;
    max-width: 95vw;
  }
  .header{
    min-height: 150px;
    width: 95vw;   
  }
  .container_menu .menu{
    font-size: 16px;
  }
  .header .title_site{
    font-size: 20px;
  }
  .avatar_block{
    width: 200px;
  }
  .metodichka_content{
    font-size: 16px;
    padding-right: 10px;
  }
  .metodika p{
    font-size: 20px;
  }
  .metodika span{
    font-size: 16px;
  }
  .main_content p{
    font-size: 20px;
  }
  p.info{
    font-size: 16px;
}
.form_contacts input{
    width: 150px;
    height: 20px;
  }

/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {
  
}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	
}
