body{
	background: url(../img/background_content/media_background.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 50%;
}
.title_site{
	color: #fff;
}
.menu{
	color: #fff;
}
.menu li:nth-child(4):after{
  width: 100%;
  height: 1px;
  background-color: rgba(76,86,106,1);
}
.header{
	background: url(../img/header_banner/header_media_background.jpg) no-repeat;
	background-position: 0 60%;
  background-size: cover;
}
.header .title_site{
	font-size: 70px;
}
p{
	color: #000;
	
}
