body{
	background: url(../img/background_content/metodichka_background.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 50%;
	position: relative;
}
.title_block{
	max-width: 100%;
}
.title_site{
	color: #fff;
}
.menu{
	color: #fff;
}
.menu li:nth-child(3){
	color: rgba(76,86,106,1);
}
.menu li:nth-child(3):after{
  width: 100%;
  height: 1px;
  background-color: rgba(76,86,106,1);
}
.header{
	background: url(../img/header_banner/header_metodichka_background.jpg) no-repeat;
	background-position: 0 90%;
  background-size: cover;
}
.header .title_site{
	font-size: 70px;
}

/*////// METODICHKA_CONTENT ///////*/
.container-main_content{
	background-color: rgba(255,255,255,.8);
}
.metodichka_content{
	color: #2e3440;
	font-size: 30px;
}
.metodichka_content li{
	padding: 8px 50px;
	transition: .3s;
}
.metodichka_content li:hover{
	color:#5e81ac;
}

.metodichka_content li:nth-child(1){
	background: url(../img/icon/metodika_1.png) no-repeat;
	background-size: 50px 50px;
}
.metodichka_content li:nth-child(2){
	background: url(../img/icon/computer_2.png) no-repeat;
	background-size: 50px 50px;
}
.metodichka_content li:nth-child(3){
	background: url(../img/icon/mediatichnologi_3.png) no-repeat;
	background-size: 50px 50px;
}
.metodichka_content li:nth-child(4){
	background: url(../img/icon/przentaciya_4.png) no-repeat;
	background-size: 50px 50px;
}
.metodichka_content li:nth-child(5){
	background: url(../img/icon/vzaimodeystvie_5.png) no-repeat;
	background-size: 50px 50px;
}
.metodika{
	margin-top: 100px;
}
.metodika p{
	font-size: 40px;
	font-style: italic;
	color: #2e3440;
}
.metodika span{
	color: #000;
	font-size: 20px;
}
.main_content span{
	color: #000;
}
.return_page_up{
	cursor: pointer;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 50;
	width: 50px;
	height: 50px;
	color: #fff;
	background: url(../img/icon/return.png) no-repeat;
	background-size: cover;
	transition: 0.4s;
}
.return_page_up:hover{
	/*transform: scale(1.1);*/
	transform: matrix(1.1, 0, 0, 1.1, 0, -5);
}
