body{
	background: url(../img/background_content/portfolio_background.webp) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 50%;
}
.portfolio__container{
	display: flex;
}
.portfolio__container>a{
	margin-right: 20px;
	transition: .2s;
}
.portfolio__container>a:hover{
	
	transform: scale(2.5);
}
.title_block{
	max-width: 100%;
}
.title_site{
	color: #fff;
}
.menu{
	color: #fff;
}
.menu li:nth-child(2){
	color: rgba(76,86,106,1);
}
.menu li:nth-child(2):after{
  width: 100%;
  height: 1px;
  background-color: rgba(76,86,106,1);
}
.sertificat{
	width: 380px;
	height: 265px;
	/*background: url(../img/sertificat.png);
	background-size: cover;*/
}
.header{
	background: url(../img/header_banner/header_portfolio_background.jpg) no-repeat;
	background-position: 0 20%;
  background-size: cover;
}
.header .title_site{
	font-size: 70px;
}
