/* USER VARIABLES SECTION */



/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
/*.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }*/

/* FONTS LOAD SECTION */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

/*@font-face{
	src: url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');;
	font-family: "Noto";
}
*/
/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

:root{
	font-size: 16px;
	line-height: 1; 
}

body {
	font-family: "Roboto";
	position: relative;
	color: white;
	width: 100%;
	height: 100%; 
	background-color: #fff;
	overflow-x: hidden;
	background: url(../img/background_content/background_body_withplashka.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

footer,aside,header,
nav,article,menu,
figure,section,picture,
video,audio{
	display: block;
}

*{
	box-sizing: border-box;
	clear: both;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: 0;
}

a{
	display: block;
	cursor: pointer;
	color: inherit;
	font-family: inherit;
	width: 100%;
	height: 100%;
}
img{
	max-width: 100%;
}
.button,.btn{
	cursor: pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clearfix:after{
	content:"";
	display: table;
	clear: both;
}
.wrapper{
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	/*height: 2000px;*/
}
.container{
	margin: 0 auto; 
	max-width: 80vw;
	padding-left: 10px;
	padding-right: 10px;
}

          /* //////// main user style /////////*/

/*////////  HEADER  ///////*/
.header{
	display: flex;
	position: relative;
	margin: 0 auto;
  min-height: 350px;
  width: 80vw;
  background: url(../img/header_banner/header_main_title.jpg) no-repeat;
  background-position: 0 60%;
  background-size: cover; 
  vertical-align: center;
  box-shadow: 0 0 20px 5px rgba(25,25,25,.5);
  border-bottom: 2px solid #eceff4
}
.container_header{
	min-height: 100%;
	display: flex;
	justify-content: center;
  align-items: center;
}
.avatar_block{
	height: 300px;
	width: 225px;
	display: flex;
	align-items: center;
}
.avatar{
	border: 2px solid white;
}
.title_block{
	max-width: 80%;
}
.title_site{
	display: flex;
	align-items: center;
	text-align: center;
	color: #eceff4;
	font-size: 60px;
	/*margin-left: 20px;*/
	font-style: italic;
}
.container_menu{
	backdrop-filter: blur(5px);
	background-color: rgba(165,216,255,0.5);
	box-shadow: 0 0 10px 1px rgba(73,80,87,0.6);
}
.menu{
	display: flex;
	flex-wrap: wrap;
	font-size: 30px;
	justify-content: center;
	margin-top: 3px;
	margin-bottom: 3px;
	padding-bottom: 5px;	
	font-style: italic;
}
.menu li{
	position: relative;
	margin-right: 20px;
	border-bottom: 2px solid rgba(0,0,0,0);
}
.menu a{
	transition: 0.4s;
}
li.main_anchor{
	color: rgba(76,86,106,1);
}
.menu a:hover{
	color: rgba(76,86,106,1);	
}
.menu li:after{
  width: 0;
  height: 1px;
  background-color: rgba(76,86,106,1);
  transition: 0.4s;
}
li.main_anchor:after{
  width: 100%;
  height: 1px;
  background-color: rgba(76,86,106,1);
}
.menu li:hover:after{
	width: 100%;	
}
.container_socsety{
	position: absolute;
	width: 120px;
	height: 60px;
	display: flex;
	right: 20px;
	top:  10px;
}

.container_socsety a:nth-child(1){
	background: url(../img/icon/vk.png) no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.container_socsety a:nth-child(2){
	background: url(../img/icon/odnoclassniki.png) no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.container_socsety a{
	filter: grayscale(100%);
	transition: 0.4s;
}
.container_socsety a:hover{
	filter: grayscale(0%);
	transform: scale(1.1);	
}

/* //////// SECTION MAIN_CONTENT ////////*/

.container-main_content{
	/*position: relative;*/
	
	padding: 50px;
	/*display: flex;*/
	color: #000;
	background-color: rgba(255,255,255,.5);
	backdrop-filter: blur(5px);
	min-height: 1000px;
}
.container-main_content img{
	width: 400px;
	float: right;
	/*height: 300px;*/
	/*margin-right: 30px;*/
}
.container-main_content p{
	font-size: 40px;
	/*float: right;*/
	font-style: italic;
	color: #3b5bdb;
}

